@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
:root{
  --main-color-: #22577E;
  --bg-color-: #5584AC;
  --another-color-:  #95D1CC;
  --extra-color-: #F6F2D4;
  --white-color: #fff;
  --black-color: #000;
}
.dark-theme{
    --main-color-: #000;
  --bg-color-: #fff;
  --another-color-: #000;
  --extra-color-: #0000;
  --white-color-: #000;
  --black-color: #fff;
}
#moon{
    color: #fff;
    width: 50px;
    cursor: pointer;
     background-color: rgba(144, 158, 189, 0.918);
     border-radius: 10px;
}
body{
    overflow-x: hidden;
}
#header .appo .appoint{
    color: white;
    outline: 2px solid #7eb5;
    padding: 10px;
    border-radius: 15px;
}
#header .appo .appoint:hover{
        outline: 3px solid #fff;
}
.header-area{
    width: 100%;
    background-color: var(--main-color-);
    padding: 10px 0;
    position: relative;
}
.social-media a{
    color: #fff;
    padding: 0 7px;
    margin-left: 30px;
}
.header-area .social-media a:hover{
    color: rgb(163, 180, 182);
}
.header-address a{
    padding: 0 20px;
    font-size: 12px;
}
.header-email a{
    text-decoration: none;
    padding: 0 10px;
}
.header-phone a{
    text-decoration: none;
    padding: 0 10px;
}
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content{
    width: 400px;
    height: 500px;
    background-color: white;
    z-index: 3;
    margin-top: 100px;
    position: relative;
    border-radius: 10px;
}
.modal-content .fa-file-signature{
    font-size: 30px;
    padding: 0 10px;
    color: var(--main-color-);
}
.modal-content .btn{
    margin-left: 100px;
}
.modal-content p{
   margin-top: 20px;
    margin-left: 40px;
    font-size: 10px;
    font-weight: 600;
}
 input{
   width: 50%;
   display:block;
   padding: 0 7px;
   margin: 30px auto;
   outline: 2px solid var(--main-color-);
}  
.close{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
} 
.navbar{
    background-color: var(--main-color-); 
}
.navbar .logo img{
    width: 50px;
    height: auto;
    margin-left: 15px;
}
.navbar .logo .name{
    font-size: 25px;
}
.navbar-nav a{
    color: #fff !important;
   margin-right: 25px;
   border: 2px solid var(--main-color-);
}
.navbar-nav li a:hover{
    border-bottom: 2px solid #fff;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background-size: cover;
}
.carousel-item .carousel-caption h5{
    color: var(--main-color-);
}
.carousel-item .carousel-caption p{
    color: var(--main-color-);
    font-weight: 600;
    font-size: 20px;
}
.carousel-inner img{
    opacity: 0.8;
}
.carousel-caption{
    top: 200px;
}
.carousel-caption p{
    width: 80%;
    margin: auto;
    padding-top: 20px;
}
.carousel-caption h5{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5cm;
}
.carousel-inner .slider-learnmore{
    text-decoration: none;
}
#about{
    height: 100%;
    background-image: linear-gradient(var(--another-color-), var(--extra-color-));
}
/* #about .container-fluid .onegp{
    margin: 0 15px;
    padding-bottom: 20px;
} */
/* #about .container-fluid .para{
    padding: 20px;
} */
#about img{
    width: 250px;
    height: auto;
    margin-left: 25%;
}
#about .abname{
    color: var(--black-color);
}
#about h1{
    color: var(--black-color);
}
#about  p{
    color: var(--black-color);
    width: 90%;
}
#about h4{
    color: var(--black-color);
}
#team{
    background-color: var(--bg-color-);
}
#team .doc{
    color: var(--white-color-);
}
#team .item .img-bg{
    height: 160px;
    background-image: linear-gradient(45deg, var(--main-color-) 0%, var(--main-color-) 50%, var(--extra-color-)10%, var(--extra-color-)100%);
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
}
#team .pad2{
    padding-bottom: 20px ;
}
#team .item img{
    width: 150px;
   height: 150px;
   border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: -50px;
}
#team .owl-carousel .item{
    padding: 10px;
}
#team .owl-carousel .item:hover{
    transform: scale(1.03);
}
footer{
    background-color: var(--main-color-);
    color: #d5d5d5;
    padding: 2rem 0;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: rgb(121, 151, 179);
}
#contact .mar{
    margin-bottom: 60px;
    font-weight: 600;
}
#contact .fa-facebook{
    color: #3b5998;
    background-color: #fff;
    border-radius: 50%;
}
#contact .fa-twitter{
    color: #55acee;
}
#contact .fa-google{
  color: #fff;
}
#contact .fa-youtube{
    color: #e91d1d;
}
#contact .mar .a-line .icon-s{
    font-size: 2em;
    padding: 3rem;
}
.service-area{
    width: 90%;
    margin: 30px auto;
    background-color: var(--white-color-);
}
.service-area .sername{
    color: var(--black-color);
}
.service-container{
    width: 350px;
    height: auto;
    position: relative;
    align-items: center;
    text-align: center;
    background: #fff;
   box-shadow:  2px 2px 10px var(--main-color-);
   margin: 10px auto;
}
.service-container h5{
    color:var(--main-color-);
    font-weight: bolder;
}
.sevice-img{
    color: rgb(218, 146, 146);
    border:2px solid;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;   
  }
  .service-img img{
    width: 100%;
    height: auto;
    position: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.1s;
    transform: scale(0.9);
}
.service-content{
    position: inherit;
    padding:10px;
}
.service-content a{
    text-decoration: none;
}
.service-content a:hover{
    color:rgb(14, 14, 15);
}
.service-container:hover .service-img img{
    transform: scale(1);
    transition: width 1s, height 2s, background-color 2s, transform 1s;
}
#blog{
    background-color: var(--extra-color-);
}
 #blog .blog-heading{
     padding-top: 50px;
 }
 #blog .blog-box .pad{
     display: flex;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 20px;
 }
 #blog .blog-container {
    margin: 10px auto;
 }
 #blog .blog-container .btn{
     background-color: #95D1CC;
     color: #fff;
 }
 #blog .blog-container .btn:hover{
     color: #000;
 }
 #blog .blog-container:hover{
     transform: scale(0.94);
     outline: 1px solid var(--main-color-);
 }
 #blog .blog-container .blog-content{
     margin: auto;
     padding: 15px 10px;
     width: 90%; 
 }
 #blog .blog-container img{
     width: 100%;
     height: auto;
     max-height: 200px;
 }
.dental-container .eyecare-container{
    margin: auto;
    height: auto;
    width: 100%;
}
.dental-container .list-title h2{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(231, 228, 228);
    padding: 20px;
    color: #251c0f;;
}
.dental-container .main-image img{
    margin-top: 10px;
    margin-left: 20px;
    height: 220px;
    width: 500px;
    object-fit: cover;
    padding-top: 30px;
    padding-left: 20px;
}
.dental-service-links{
    margin-left: 30px;
    text-align: center;
}
.dental-service-links h4{
    color:rgb(82, 154, 199);
    font-weight: bolder;
}
.dental-service-links a{
    text-decoration: none;
    color: rgb(15, 83, 104);
    font-weight: bold;
}
.dental-service-links a:hover{
    color: rgb(46, 43, 43);
}
.implant-container {
    width: 100%;
    width: auto;
    margin: 0 60px 0 60px;
    position: relative;
    align-content: center;
}
.implant-container h2{
    padding: 50px;
    text-align: center;
}
.implant-image img{
    width: 100%;
    height: auto;
    align-content: center;
}
.implant-content{
    position: inherit;
    background-color: rgb(226, 223, 223);
    margin-top: 30px;
}
 .content-text {
    padding: 20px;
}
.implant-content h3{
color:rgb(82, 154, 199);
margin-left:30px ;
padding-top: 30px;
}
.eyecare-container .list-title{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #284737;
    padding: 20px;
    color: #fff;
}

/*responsive*/
@media (max-width: 768px) {
    img{
        height: 100vh;
        object-fit: cover;
    }
    .dental-container .main-image img{
        display: none;
    }
}
@media (min-width: 768px) {
    img{
        height: 100vh;
        object-fit: cover;
    }
    .carousel-caption{
        top: 400px;
    }
    .carousel-caption h5{
        font-size: 40px;
    }
    .carousel-caption p{
        font-size: 20px;
    }
    .dental-container .main-image img{
        width: 300px;
    }
}
@media (max-width: 360px) {
    .carousel-caption{
        top: 200px;
    }
}
